<!-- S 导航栏 -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <img src="img/logo0.png" alt="logo">
        </a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">首页</a>
            </li>
            <li>
                <a href="http://music.163.com/" target="_blank">音乐广场</a>
            </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <div class="login-state" id="loginState">
                <a href="#" data-toggle="modal" data-target="#registerlogin-modal">登录</a>&nbsp;
                <a href="#" data-toggle="modal" data-target="#registerlogin-modal">注册</a>
            </div>
            <div class="user-info" id="userInfo">
                <a href="#">
                    <img src="#" alt="头像" width="30px" height="30px" class="img-circle">
                </a>
                <a href="#" class="data-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="user-menu">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-star-empty"></span>&nbsp;个人中心
                        </a>
                    </li>
                    <li>
                        <a href="#user-friends-panel" data-toggle="collapse" id="my-friends">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;我的好友
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li id="user-setting">
                        <a href="#">
                            <span class="glyphicon glyphicon-cog"></span>&nbsp;设置中心
                        </a>
                    </li>
                    <li id="user-logout">
                        <a href="#">
                            <span class="glyphicon glyphicon-log-out"></span>&nbsp;注销
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="navbar-form" role="search" name="search-form" method="get" action="/search">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="search-condition">不限
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="search-menu">
                        <li data-val = "不限" class="active"><a href="#">不限</a></li>
                        <li data-val = "房名"><a href="#">房名</a></li>
                        <li data-val = "房号"><a href="#">房号</a></li>
                        <li data-val = "昵称"><a href="#">昵称</a></li>
                    </ul>
                </div>
                <div class="form-group">
                <input type="text" class="form-control" id="search-input" placeholder="搜索">
            </div>
                <button type="button" class="btn btn-default navbar-btn" id="search-btn">查找</button>
            </div>
        </form>
        
        
    </div>
</nav>
<!-- E 导航栏 -->