.my-container {
	padding-right: 20px;
	padding-left: 20px;
}

.login-state,
.user-info {
	display: none;
}
.user-login-state {
	font-size: 12px;
}
/* 左侧列表名 */
.campus-logo {
	margin-top: -425px;
	margin-left: -10px;
}
#userzone-menu li,
.campus-list li {
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
	border-radius: 5px;
}
#userzone-menu li {
	padding-left: 5px;
}
.campus-list li:hover {
	cursor: default;
	background-color: #EAEAF9;
}
#userzone-menu li:hover {
	cursor: pointer;
	background-color: #EAEAF9;
}
#userzone-menu li.active,
.campus-list li.active {
	background-color: #ddf;
}
.campus-list span {
	color: #aaa;
}
/* 聊天室列表 */
#create-room {
	margin-top: -8px;
}
.room-name {
	width: 8em;
	text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
}
.room-logo {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.room-logo img:hover {
	transform: scale(1.2, 1.2);
	transition: transform .3s ease-in-out;
}
.room-info {
	margin-bottom: 30px;
}
.room-info p {
	margin: 3px;
	font-size: 12px;
}

.room-user-num-wrap {
	position: absolute;
	z-index: 100;
	right: 2px;
	bottom: -10px;
	font-size: 12px;
	color: #fff;
}

/* 分页栏 */

#page-go {
	display: inline-block;
	margin-left: 5px;
	width: 100px;
}
#page-go input {
	width: 50px;
}
/* 好友面板 */
#user-friends-panel h4 span {
	cursor: pointer;
}
#user-friends-panel {
	z-index: 200;
	min-width: 210px;
}
.user-friends-panel-heading > h4{

}
.panel-search-form {
	position: relative;
	margin: 10px -15px;
	border-top: 1px solid #bce8f1;
}
.panel-search-form input {
	font-size: 12px;
	background-color: #D9F2F7;
	border: 1px solid #80E3F7;
}
.panel-search-close {
	position: absolute;
	display: inline-block;
	right: 6%;
	bottom: 16%;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}
.panel-search-close:hover {
	color: #fff;
	background-color: #5bc0de;
}
/* 创建房间 */
#create-room-alert {
	display: none;
	padding: 5px;
	margin-left: 30%;
	margin-bottom: 0;
}
#c-room-logo {
	display: none;
}
#c-room-logo-preview,
#c-room-logo-div {
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #ccc;
	font-size: 36px;
	text-align: center;
	cursor: pointer;
}
#c-room-logo-preview {
	display: none;
	margin-left: 10px;
}
#c-room-logo-preview img {
	width: 50px;
	height: 50px;
}
#c-room-logo-div:hover {
	background-color: #ddf;
	color: #fff;
}

/* 好友面板主体部分 */
.user-friends-body {
	height: 430px;
	overflow-y: scroll;
}
#user-friends-panel-menu {
	margin-bottom: 0;
	width: 100%;
	text-align: center;
}
#user-friends-panel-menu li {
	padding: 0;
}

/* 历史聊天记录列表 */
#history-chat-list {
	margin: -15px -15px;
}
#history-chat-list a {
	padding-left: 5px;
	padding-bottom: 5px;
}
#history-chat-list img {
	margin-right: 5px;
	width: 40px;
	height: 40px;
}
.chat-list-nickname,
.chat-list-data,
.friends-list-nickname,
.friends-list-signature,
.group-name,
.group-last-msg,
#chat-content-title-cover h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
    white-space: nowrap;
}
.chat-list-nickname {
	margin-top: -3px;
	width: 55%;
}
.chat-list-data,
.friends-list-signature {
	margin-top: -4px;
	width: 65%;
	
	font-size: 12px;
	color: #999;
}
.chat-list-time {
	position: absolute;
	top: 10%;
	right: 5%;
	font-size: 12px;
	color: #999;
}
.chat-list-num-per {
	margin-top: -30px;
	background-color: #FB6E44;
}

/* 我的好友列表 */
#friends-list {
	margin: -5px -12px;
	display: none;
}
#friends-list > li {
	position: relative;
	border-bottom: 1px solid #ddf;
	cursor: default;
}
#friends-list > ul > li {
	cursor: pointer;
}
#friends-list > ul > div {
	overflow: scroll;
	position: relative;
}
#friends-list > li:hover {
	background-color: #bce8f1;
	border-radius: 3px;
}
#friends-list img {
	margin-right: 5px;
	width: 40px;
	height: 40px;
}
.friends-list-nickname {
	margin-top: 1px;
	width: 55%;
}
.friends-list-group-rename {
	position: absolute;
	top: 2px;
	right: 5px;
	cursor: pointer;
}

input.friends-list-group-name {
	width: 110px;
}
.friends-list-group-rename:hover {
	color: #269abc;
}
.friends-list-user {
	font-size: 12px;
	background: #fff;
}
.friends-list-user a:nth-child(even) {
	margin-left: 10px;
}
.friends-list-group-summary {
	margin-left: 7px;
}
/* 讨论组列表 */
#group-list {
	margin: -5px -15px;
	display: none;
	font-size: 12px;
}
#group-list img {
	position: absolute;
}
#group-list p {
	margin-bottom: 0;
	margin-left: 45px;
}
#group-list > li {
	min-height: 60px;
}
#group-list li:hover {
	background: #F1F1F1;
	cursor: pointer;
}
.group-name {
	display: inline-block;
	width: 70%;
	font-weight: 700;
}
.group-num-per {
	display: inline-block;
	margin-top: -10px;
	color: #666;
}
.group-last-msg-user {
	font-weight: 700;
}
.group-last-msg {
	width: 80%;
}

/* 浮窗聊天框容器 */
#chat-wrapper {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10000;
	margin-top: -250px;
	margin-left: -400px;
	width: 620px;
	height: 500px;
	border: 3px solid #bce8f1;
	border-radius: 5px;
	background-color: #fff;
}
/* 浮窗聊天框左侧菜单 */
#chat-left-menu {
	display: none;
	float: left;
	width: 180px;
	height: 100%;
	overflow-y: scroll;
	background-color: rgba(80, 168, 187, 0.7);
}
#chat-left-menu li {
	position: relative;
	margin-top: 5px;
	padding: 3px 5px;
	border-radius: 5px;
	color: #fff;
}
#chat-left-menu li:hover {
	background-color: #A5D6E0;
	color: #000;
}
#chat-left-menu .chat-item-active {
	background-color: #bce8f1;
	color: #000;
}
#chat-left-menu .chat-item-nickname {
	display: inline-block;
	cursor: default;
	width: 8em;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
    white-space: nowrap;
    vertical-align: middle;
}
#chat-left-menu .chat-item-info-num,
#chat-left-menu .chat-item-close  {
	position: absolute;
	top: 25%;
	right: 2%;
	display: inline-block;
}
#chat-left-menu .chat-item-info-num {
	background-color: #FB6E44;
}
#chat-left-menu .chat-item-close  {
	display: none;
	padding: 3px;
	text-align: center;
	line-height: 10px;
	font-size: 1.3em;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	background-color: rgba(8, 8, 8, 0.5);
	cursor: pointer;
}
#chat-left-menu .chat-item-close:hover {
	background-color: #F55A56;
}

/* 聊天窗口右侧内容框 */
#chat-right-content {
	float: left;
	min-width: 614px;
	height: 100%;
	overflow: hidden;
	border: 3px solid rgba(80, 168, 187, 0.5);
	border-radius: 5px;
}
#chat-right-content iframe {
	min-width: 100%;
	height: 100%;
	overflow: hidden;
}
#chat-content-title-cover {
	position: absolute;
	top: 3px;
	left: 3px;
	padding-left: 10px;
	width: 608px;
	height: 59px;
	background: #bce8f1;
	cursor: move;
}
#chat-content-title-cover img {
	float: left;
	margin-top: 10px;
	margin-right: 5px;
	border-radius: 3px;
}
#chat-content-title-cover h4 {
	margin-bottom: 0;
	max-width: 85%;

}
#chat-title-sub {
	margin-top: 3px;
	font-size: 12px;
}
#chat-closeBtn {
	position: absolute;
	top: 2%;
	right: 2%;
	border: 1px solid #ddd;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	font-size: 25px;
	color: #fff;
	
	background-color: rgba(80, 168, 187, 0.3);
}
#chat-closeBtn:hover {
	background-color: #F55A56;
	opacity: 0.6;
}
#chat-content-userList-chat {
	position: absolute;
	overflow-y: scroll;
	top: 62px;
	right: 0;
	width: 154px;
	height: 428px;
	font-size: 12px;
}
#chat-content-userList-chat li {
	cursor: pointer;
}


#registerlogin-modal,
#tips-div,
#tips-delete-friend,
#tips-choose-group,
#tips-choose-userGroup,
#create-room-modal {
	z-index: 12000;
}
#registerlogin-modal .modal-header,
#tips-div .modal-header,
#tips-delete-friend .modal-header,
#tips-choose-group .modal-header,
#tips-choose-userGroup .modal-header,
#create-room-modal .modal-header {
	cursor: move;
}