<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>好友聊天</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/default.css">
		<link rel="stylesheet" href="/css/chat_list.css">
	</head>
	<body>
		
		<div id="chat-content-wrapper">
			<div id="chat-content-title">
				<h4 class="chat-title">
					<a href="#">我是好友</a>
				</h4>
				<p class="chat-title-sub">
					<a href="#">
						<span class="glyphicon glyphicon-info-sign"></span>
					</a>
					<span class="chat-title-signature">我是签名</span>
				</p>
			</div>
			<div id="chat-content-chats">
				<ul class="list-unstyled list-group" id="chat-content-chats-list">
					<div class="text-center">
						<span class="glyphicon glyphicon-time blue"></span>
						<a href="#" id="chat-content-chats-more" data-pn="0">查看更多消息</a>
					</div>
				</ul>
				<div id="chat-content-editBox">
					<div id="editBox-menu-cover"></div>
					<div class="btn-group dropup" id="chat-content-editBox-menu">
						<span>
							<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-list-alt"></span>
							</button>
							<ol class="dropdown-menu" role="menu">
								<li class="dropdown-header">快捷回复</li>
								<li class="divider"></li>
								<li data-val="1">1. 谢谢你哈</li>
								<li data-val="2">2. 你好</li>
								<li data-val="3">3. 吃饭没</li>
								<li data-val="4">4. 天黑请闭眼</li>
								<li data-val="5">5. o.o 好了好了我知道了</li>
							</ol>
						</span>
						
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
							<span class="face"></span>
							<span class="caret"></span>
						</button>
						<button type="button" class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-picture"></span>
						</button>
						<form method="post" id="chat-form-pic" enctype="multipart/form-data" onsubmit="return sendFormPic()" class="hide">
							<input type="text" name="form-pic-num" id="form-pic-num" value="0">
						</form>
						
						<!-- S 表情包 -->
						<div class="dropdown-menu" role="menu" id="emotion-div">
							<div id="emotion-wrap">
								<table id="emotion-tb">
								
								</table>
								<table id="emotion-qq">
								
								</table>
								<table id="emotion-weixin">
									
								</table>
								<table id="emotion-yanwenzi">
									
								</table>
								<table id="emotion-tu">
									
								</table>
							</div>
							<ul class="list-unstyled list-inline" id="emotion-menu">
								<li class="active" data-val="tb" style="padding:2px 2px 1px 2px;">
									<img src="/img/emotion/tb/7.png" alt="emition-menu">
								</li>
								<li data-val="qq" style="padding-bottom:4px;">
									<img src="/img/emotion/qq/21.gif" alt="emition-menu">
								</li>
								<li data-val="weixin">
									<img src="/img/emotion/wx/4.png" alt="emition-menu">
								</li>
								<li data-val="yanwenzi" style="padding: 8px 5px;">✪ω✪</li>
								<li data-val="tu">
									<img src="/img/emotion/tu/1.gif" alt="emition-menu" width="25px" height="25px">
								</li>
							</ul>
						</div>
						<!-- E 表情包 -->
					</div>
					<div class="pull-right" id="chat-content-send">
						<div class="btn-group dropup">
							<button type="button" class="btn btn-info btn-sm">发送
								<span class="glyphicon glyphicon-send"></span>
							</button>
							<button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<!--  data-val为1代表使用 ctrl + enter快捷键 -->
							<ul class="dropdown-menu" role="menu" data-val="1">
								<li data-index="0">
									<span class="glyphicon glyphicon-minus"></span>
									<span>按Enter键发送消息</span>
								</li>
								<li data-index="1">
									<span class="glyphicon glyphicon-ok"></span>
									<span>按Ctrl+Enter键发送消息</span>
								</li>
							</ul>
						</div>
					</div>
					<div id="chat-content-editbox-edit">
						
					</div>
				</div>
			</div>
			<div id="chat-content-userList">
				<div id="userList">
					<img src="/img/solo.gif" width="135px" height="135px">
				</div>
			</div>
		</div>

		
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/jquery.form.min.js"></script>
		<script src="/js/Util.js"></script>
		<script src="/js/getChats.js"></script>
		<script src="/js/editBox.js"></script>
		<script src="/js/chatP_list.js"></script>
		<script src="/js/chatP_client.js"></script>
	</body>

</html>